sudo: false
language: rust
rust:
- nightly
- beta
- stable
matrix:
  allow_failures:
  - rust: nightly
  env: FEATURES="--features ascii"
before_script:
- |
  pip install 'travis-cargo<0.2' --user &&
  export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo bench &&
  travis-cargo --only stable doc
# addons:
#   apt:
#     packages:
#     - libcurl4-openssl-dev
#     - libelf-dev
#     - libdw-dev
#after_success:
#- travis-cargo --only stable doc-upload
#- env COVERAGE_TESTING=1 travis-cargo coveralls --no-sudo
notifications:
  email:
    on_success: never
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=dev
  # - secure:
