[package]
name = "barcoders"
version = "1.0.3"
authors = ["Andrew Buntine <info@bunts.io>"]
description = "A barcode-encoding library"
homepage = "https://github.com/buntine/barcoders"
repository = "https://github.com/buntine/barcoders"
documentation = "https://docs.rs/barcoders"
readme = "README.md"
keywords = ["barcode", "barcodes", "barcode-encoding"]
license = "MIT OR Apache-2.0"
exclude = [
    "media/*",
    "TODO",
]

[features]
ascii = []
json = []
svg = []
dev = ["clippy"]

[dependencies]
image = {version = "0.24", optional = true}
clippy = {version = "0.0.302", optional = true}

# Manually update exr as image uses an older ver
exr="1.6.3"
